* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding-top: 50px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.fixed {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1030;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.navbar {
    display: none;
    position: fixed;
    top: 45px;
    padding-right: 30px;
    width: 100%;
    background-color: white;
}

@media (min-width: 768px) {
    .navbar {
        width: 720px;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .navbar {
        width: 940px;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .navbar {
        width: 1140px;
        padding-right: 0;
    }
}

nav {
    background-color: white;
    height: 45px;
}

nav ul li {
    display: block;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0.3em;
    color: dodgerblue;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: #eee;
}

@media screen and (min-width: 768px){
    nav {
        display: block;
    }

    nav .navbar {
        border-bottom: 2px solid lightblue;
    }

    nav ul li {
        display: inline-block;
        padding: 0 1em;
        width: auto;
        border-bottom: none;
    }
    .navbar {
        display: block !important;
        top: 0;
        height: 45px;
        max-width: 1170px;
        z-index: 1030;
    }
}

.section {
    padding-bottom: 4em;
    padding-top: 50px;
    margin-top: -50px;
}

.section:nth-child(even) {
    background-color: #FAF9FA;
}

.title {
    text-align: center;
    color: #333;
    font-size: 3em;
    text-transform: capitalize;
}

.thumbnail {
    border-radius: 50%;
    max-width: 240px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

@media (min-width: 768px) {
    .thumbnail {
        max-width: 200px;
    }
}

@media (min-width: 992px) {
    .thumbnail {
        max-width: 240px;
    }
}

.grey-text {
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 300;
    color: #888;
}

.grey-text h2, h3 {
    color: black;
}

.grey-text a {
    text-decoration: none;
    font-weight: bold;
    color: #888;
}

.grey-text a:hover {
    color: #555;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.btn {
    text-decoration: none;
    padding: 1em;
    border: 2px solid transparent;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin: 1em;
    font-weight: bold;
    color: #333;
    background-color: transparent;
    border-color: #ddd;
}

.btn:focus, .btn:hover {
    background-color: #ddd;
}

.btn-small {
    padding: 0.5em;
    margin: 0.5em;
}

.btn-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-blue:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.grey-text .btn-blue {
    color: #fff;
}

.grey-text .btn-blue:hover {
    color: #fff;
}

.arrow-up {
    margin-bottom: 0.2em;
    margin-left:  0.5em;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.icon-bar {
    display: block;
    height: 2px;
    width: 22px;
    border-radius: 1px;
    background-color: #888;
}

.icon-bar+.icon-bar {
    margin-top: 4px;
}

i {
    display: inline-block;
}

.center {
    text-align: center;
}
.center .btn {
    padding-bottom: 1em;
}

.pull-right {
    float: right;
}

.panel ul {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    list-style: none;
    padding: 1em;
}

.panel ul li {
    font-size: 18px;
    font-weight: 300;
    color: #888;
    margin-bottom: 0.5em;
}

.list_header {
    color: black !important;
    margin-bottom: 0.5em;
    border-bottom: 1px solid lightblue;
}

.strong {
    font-weight: bold !important;
}
.footer {
    background-color: white;
    border-top: 1px solid lightblue;
    padding: 1em 0;
}

.year {
    color: dodgerblue;
    font-size: 12px;
}

.panel h2, h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.panel .panel-section {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    padding: 1em;
}

.company {
    color: black;
    margin-bottom: 0;
}

.experience-content {
    border-left: 1px solid #888;
    padding-left: 15px;
}

.underline {
    border-bottom: 1px solid #888;
}

.education p {
    line-height: 1;
}

.contact-img {
    border-radius: 50%;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}