<div id="education" class="education">
    <h1>Education</h1>

    <h2>2015 - 2016 Pba. in Software Development</h2>
    <ul>
        <li>Project Management</li>
        <li>System Integration</li>
        <li>Contract Based Development</li>
        <li>Big Databases</li>
        <li>Test</li>
    </ul>

    <h2>2015 - 2015 Coursera Courses</h2>
    <ul>
        <li>Beginning Game Programming in C#</li>
        <li>Programming Mobile Applications for Android Handheld Systems: Part 1</li>
        <li>Programming Mobile Applications for Android Handheld Systems: Part 2</li>
    </ul>

    <h2>2012 - 2015 Datamatiker</h2>
    <ul>
        <li>Programming</li>
        <li>Databases</li>
        <li>System Development</li>
        <li class="no-list"><strong>Elective Courses</strong></li>
        <li>Neural Networks</li>
        <li>Game Programming in Java</li>
    </ul>

    <h2>Spoken Languages</h2>
    <ul>
        <li>Danish (Native or bilingual proficiency)</li>
        <li>English (Native or bilingual proficiency)</li>
    </ul>

</div>
