<div id="leisure" class="leisure">
    <h1>Leisure</h1>
    <p>
        I'm a 25 year old danish guy who lives in Slagelse and studies in Odense. Right now I spend most of my free time with my girlfriend,
        but when I’m not with her, I enjoy playing video games and hanging out with my best friends.
    </p>

    <p>
        I like learning about new technologies and love trying new things. I'm always seeking out new knowledge on sites like
        <a href="http://www.reddit.com/r/programming">Reddit</a> and generally just <a href="http://google.com">Google</a>,
        Or hearing about them from friends and colleagues.
    </p>

    <p>
        <strong>I love comics!</strong> I am generally picky about my comics, but I'm always looking for new comics to read. I buy most of my comics from 
        <a href="http://www.comixology.eu">Comixology</a> and the others from <a href="http://www.darkhorse.com/">Dark Horse Comics</a>.
        I like reading comics with a darker theme, like The Walking Dead, Marvel Zombies or Aliens.
    </p>
</div>
