<div id="tech" class="tech">
    <h1>Technical Skills</h1>

    <h2>Languages</h2>
    <ul>
        <li>Java</li>
        <li>C#</li>
        <li>PHP</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Ruby</li>
    </ul>

    <h2>Frameworks</h2>
    <ul>
        <li>Twitter Bootstrap</li>
        <li>Rails</li>
        <li>jQuery</li>
        <li>XNA</li>
    </ul>

    <h2>Programmes</h2>
    <ul>
        <li>Sublime Text</li>
        <li>Netbeans</li>
        <li>Notepad++</li>
        <li>Unity3D</li>
    </ul>
</div>
