---
layout: layouts/main.njk
---
<div class="grid-container">
    {% include 'components/header.njk' %}
    <main>
        {% include 'components/experience.njk' %}
        {% include 'components/volunteer.njk' %}
    </main>
</div>

