<article class="text-center">
    <h1>Anders Bo Rasmussen</h1>
    <h2>Software Engineer</h2>
    <img class="rounded" src="/assets/images/profile_picture.jpg" alt="profile picture" />
    <p>
        Backend Software Engineer |
        6 years of professional .NET experience |
        Bachelor of Software Development
    </p>
    <div class="text-justify">
        <p>
            My name is Anders Bo Rasmussen, I'm a Danish Software Engineer,
            with a bachelor of software development.
            I focus on clean high performance code.
        </p>
        <p>
            In my spare time I read books, both comics, fiction, and non-fiction.
            I paint miniature figures, and play many boardgames.
        </p>
    </div>
</article>