meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title Anders Bo Rasmussen - Back-end Developer
meta(name='description', content='Anders Bo Rasmussen - Back-end Developer')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
link(rel='stylesheet' href='dist/assets/css/app.min.css')
