mixin skillCard(title)
  .col-md-4.mb-3
    .card.h-100
      .card-body
        h3.card-title= title
        hr
        if block
          ul.list-unstyled
            block

#skills.mb-5.mx-3
  h2.text-center Skills
  .row
    +skillCard('Frontend')
      li HTML / ERB / Jade (Pug)
      li CSS / SASS / bootstrap
      li JavaScript / jQuery / AngularJS 1&2
      
    +skillCard('Backend')
      li Java
      li C# (MVC, .NET CORE)
      li Ruby on Rails
      li MySQL / MSSQL / PostgreSQL

    +skillCard('Toolstack')
      li Git / GitHub / BitBucket / SVN
      li Atom / NetBeans / Visual Studio
      li Heroku / Azure
      li Command Line / iTerm / PowerShell
      li Trello / Jira / Pivotal Tracker / VSTS
