{% set css %}
    {% include 'components/normalize.css' %}
    {% include 'components/variables.css' %}
    {% include "components/header.css" %}
    {% include "components/util.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
    {{ css | cssmin | safe }}
</style>