{% set css %}
    {% include 'components/normalize.css' %}
    {% include 'components/variables.css' %}
    {% include 'components/grid.css' %}
    {% include 'components/util.css' %}

    {% include 'components/header.css' %}
    {% include 'components/profile.css' %}
    {% include 'components/contact.css' %}
    {% include 'components/skills.css' %}
    {% include 'components/education.css' %}
    {% include 'components/summary.css' %}
    {% include 'components/experience.css' %}

    {% include 'components/print.css' %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
    {{ css | cssmin | safe }}
</style>