{% set css %}
    {% include 'components/normalize.css' %}
    {% include 'components/variables.css' %}
    {% include 'components/grid.css' %}
    {% include 'components/util.css' %}

    {% include 'components/header.css' %}
    {% include 'components/projects.css' %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
    {{ css | cssmin | safe }}
</style>