<section class="education">
    <h2>Education</h2>
    {% for education in resume.education %}
        <article>
            <header>
                <strong>{{ education.studyType }} in {{ education.area }} at {{ education.institution }}</strong>
                    <div class="flex-end">
                        {% daterange education.startDate, education.endDate %}
                    </div>
            </header>
        </article>
    {% endfor %}
</section>