.education {
  border-bottom: var(--border-bottom);
  padding: var(--section-padding);
}

.education article:first-of-type {
  margin-bottom: 1rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}