<section class="experience">
    <h2>Experience</h2>
    {% for work in resume.work %}
        <article>
            <header>
                <h3 class="d-inline-block">{{ work.position }} at {{ work.name }}</h3>, <address class="d-inline-block">{{ work.location }}</address>
                <div>
                    {% daterange work.startDate, work.endDate %}
                </div>
            </header>
            <p>{{ work.summary }}</p>
            <ul>
                {% for highlight in work.highlights %}
                    <li>{{ highlight }}</li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
</section>