<section class="experience">
    <h2>Experience</h2>
    {% for work in resume.work %}
        <article>
            <header>
                <h3>{{ work.position }} at {{ work.name }}</h3>
                <div>
                    <div>
                        {% daterange work.startDate, work.endDate %}
                    </div>
                    <div>
                        <address>{{ work.location }}</address>
                    </div>
                </div>
            </header>
            <p>{{ work.summary }}</p>
            <ul>
                {% for highlight in work.highlights %}
                    <li>{{ highlight }}</li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
</section>