:root {
    --a: #225476;
    --b: #3fcef6;
    --c: #318ead;
    --d: #eee;
    --e: #fff;

    --primary-bg-color: var(--e);
    --secondary-bg-color: var(--d);

    --link-color: var(--b);
    --link-hover-color: var(--c);

    --heading-color: var(--a);
}