header {
  margin-bottom: 150px;
}

header h1 {
  color: #fff;
  margin-top: 0;
  transform: translateY(120px);
}

img.profile-photo {
  max-width: 240px;
  transform: translateY(50%);
}

hr {
  border-top: 1px solid #0275d8!important;
}

img.contact-photo {
  max-width: 120px;
}

a.undecorated {
  text-decoration: none;
}

svg.svg-icon {
  width: 25px;
  height: 25px;
}
