#certificates.mb-5.mx-3
  .card.mb-3.border-0
    .card-block
      h2.text-center Certificates
      ul.list-unstyled
        li.media
          .media-body
            h4.mt-0.mb-1 Ruby Programming for Beginners
            h5.mt-0.mb-1 Udemy
            p #[strong March 2016]
            a(href='http://ude.my/UC-0BO4PW8E', target='_blank') Udemy, License UC-0BO4PW8E
