#description.text-justify.mb-5.mx-3
  p 
    | My name is Anders Bo Rasmussen, I'm a Danish #[strong Back-end developer], just finished my #[strong bachelor of software development].
    | I spend most of my free time with my girlfriend, we love to travel around the country, and when I'm not with her, I play video games and hang out with my best friends.
  p 
    | #[strong I love comics!] I am generally picky about my comics, but I'm always looking for new comics to read. I buy most of my comics from
    | #[a(href='https://www.comixology.eu', target='_blank') Comixology] and the others from #[a(href='https://www.darkhorse.com', target='_blank') Dark Horse Comics].
    | I like reading comics with a darker theme, like The Walking Dead, Marvel Zombies, or Aliens.
